GestionProduits/db.sqlite3
GestionProduits/GestionProduits/__pycache__
GestionProduits/LesProduits/__pycache__
GestionProduits/LesProduits/migrations/__pycache__
GestionProduits/LesProduits/static/node_modules