{% extends 'base.html' %}

{% block contenu %}
<div class="container mt-4">
    <h2 class="mb-4">{{ provider.name }}</h2>
    <ul class="list-group mb-4">
        <li class="list-group-item"><strong>Adresse :</strong> {{ provider.address }}</li>
        <li class="list-group-item"><strong>Téléphone :</strong> {{ provider.phone }}</li>
    </ul>
    <div class="mb-4">
        <a href="{% url 'provider-update' provider.id %}" class="btn btn-secondary">Modifier</a>
        <a href="{% url 'provider-delete' provider.id %}" class="btn btn-danger">Supprimer</a>
        <a href="{% url 'provider-list' %}" class="btn btn-primary">Retour à la liste des fournisseurs</a>
    </div>

    <h2 class="mb-4">Prix fournisseur :</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for productPrice in productsPrice %}
                <tr>
                    <td><a href="{% url 'product-detail' productPrice.product.id %}">{{ productPrice.product.name }}</a></td>
                    <td>{{ productPrice.price }}</td>
                    <td>
                        <a href="{% url 'providerPrice-update' productPrice.id %}" class="btn btn-secondary btn-sm">Modifier</a>
                        <a href="{% url 'providerPrice-delete' productPrice.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-4">
        <a href="{% url 'providerPrice-add' provider.id %}" class="btn btn-primary">Ajouter un prix fournisseur</a>
        <a href="{% url 'provider-list' %}" class="btn btn-primary">Retour à la liste des fournisseurs</a>
        <a href="{% url 'order-add' provider.id %}" class="btn btn-primary">Passer commande</a>
    </div>
</div>
{% endblock %}