{% extends 'base.html' %}

{% block contenu %}
    <h2>{{ provider.name }}</h2>
    <ul>
        <li>Adresse : {{ provider.address }}</li>
        <li>Téléphone : {{ provider.phone }}</li>
    </ul>
    <a href="{% url 'provider-update' provider.id %}" class="btn btn-secondary mt-2">modifier</a>
    <a href="{% url 'provider-delete' provider.id %}" class="btn btn-danger mt-2">Supprimer</a>
    <a href="{% url 'provider-list' %}" class="btn btn-primary mt-2">Retour à la liste des fournisseurs</a>

    <h2>Prix fournisseur : </h2>
    <table>
        <thead>
            <th>Produit</th>
            <th>Prix</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for productPrice in productsPrice %}
                <tr>
                    <td><a href="{% url 'product-detail' productPrice.product.id %}">{{ productPrice.product.name }}</a></td>
                    <td>{{ productPrice.price }}</td>
                    <td>
                        <a href="{% url 'providerPrice-update' productPrice.id %}" class="btn btn-secondary">Modifier</a>
                        <a href="{% url 'providerPrice-delete' productPrice.id %}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'providerPrice-add' provider.id %}" class="btn btn-primary mt-2">Ajouter un prix fournisseur</a>
{% endblock %}