{% extends 'base.html' %}

{% block title %}
    Mon application DJANGO
{% endblock %}

{% block menu %}
    <h1 class="display-4">{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="mb-4">{{ product.name }}</h2>
                <ul class="list-group mb-4">
                    <li class="list-group-item"><strong>Code :</strong> {{ product.code }}</li>
                    <li class="list-group-item"><strong>Prix HT :</strong> {{ product.price_ht }}</li>
                    <li class="list-group-item"><strong>Prix TTC :</strong> {{ product.price_ttc }}</li>
                    <li class="list-group-item"><strong>Date de création :</strong> {{ product.date_creation }}</li>
                </ul>
                <div class="btn-group mb-4" role="group">
                    {% if user.is_superuser %}
                        <a href="{% url 'product-update' product.id %}" class="btn btn-secondary">Modifier</a>
                        <a href="{% url 'product-delete' product.id %}" class="btn btn-danger">Supprimer</a>
                    {% endif %}
                    <a href="{% url 'product-list' %}" class="btn btn-primary">Retour à la liste des produits</a>
                </div>

                <h3 class="mb-4">Items associés</h3>
                <ul class="list-group">
                    {% for item in items %}
                        <li class="list-group-item">
                            {% for attribute in item.attributes.all %}
                                <p><strong>{{ attribute.product_attribute.name }} :</strong> {{ attribute.value }}</p>
                            {% empty %}
                                <p>Aucune valeur</p>
                            {% endfor %}
                            <a href="{% url 'item-detail' item.id %}" class="btn btn-primary mt-2">Détails Item</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">Aucun item associé à ce produit.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}