{% extends 'base.html' %}

{% block title %}
    Mon application DJANGO
{% endblock %}

{% block menu %}
    <h1 class="display-4">{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="mb-4">{{ productattribute.name }}</h2>
                <ul class="list-group mb-4">
                    {% for value in values %}
                        <li class="list-group-item">
                            {{ value.value }} <span class="badge badge-secondary">Position: {{ value.position }}</span>
                        </li>
                    {% empty %}
                        <li class="list-group-item">Aucune valeur disponible pour cet attribut.</li>
                    {% endfor %}
                </ul>
                <a href="{% url 'attribut-list' %}" class="btn btn-primary">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}