{% extends 'base.html' %}

{% block contenu %}
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Valeurs</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for attribute in productattributes %}
        <tr>
            <td>{{ attribute.name }}</td>
            <td>
                {% for value in attribute.productattributevalue_set.all %}
                <p>{{ value.value }}</p>
                {% empty %}
                <p>Aucune valeur</p>
                {% endfor %}
            </td>
            <td>
                {% for value in attribute.productattributevalue_set.all %}
                <p>{{ value.position }}</p>
                {% empty %}
                <p>Aucune valeur</p>
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'attribute-detail' attribute.id %}" class="btn btn-primary mt-2">Détails</a>
                {% if user.is_superuser %}
                    <a href="{% url 'attribute-delete' attribute.id %}" class="btn btn-danger mt-2">Supprimer</a>
                    <a href="{% url 'attribute-update' attribute.id %}" class="btn btn-secondary mt-2">modifier</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if user.is_superuser %}
    <a href="{% url 'attribut-add'  %}" class="btn btn-primary mt-2">Ajouter un attribue</a>
{% endif %}
{% endblock %}